{% load menu %}
{% if m_items %}
  
  <ul class="list-group">  
    
    {% for m_item in m_items %}
        <li class="list-group-item" >
          {% with path_t='/'|add:m_item.slug|add:'/' %}
          
          
          <a 
        	href="{% url 'page' m_item.slug %}" 
          class="{% if request.path == path_t %} active{% endif %}"
          >{{ m_item.title }}</a>       
          
          {% draw_submenu m_item menu_items list_tree %}
          {% endwith %}
          
        </li> 
    {% endfor %}
  </ul> 
{% endif %}